APP_PORT=8090
DATABASE_DSN=shipping:change_me@tcp(127.0.0.1:3308)/shipping?charset=utf8mb4&parseTime=True&loc=UTC
ECOMMERCE_SERVICE_TOKEN=replace-with-at-least-32-random-characters
INTERNAL_QR_SECRET=replace-with-at-least-32-random-characters
PUBLIC_BASE_URL=http://localhost:8090
ECOMMERCE_CALLBACK_URL=http://host.docker.internal:8080/internal/shipping/events

WAREHOUSE_NAME=NordShop Logistics Center
WAREHOUSE_COMPANY=NordShop GmbH
WAREHOUSE_STREET=Musterstrasse
WAREHOUSE_HOUSE_NUMBER=10
WAREHOUSE_POSTAL_CODE=35039
WAREHOUSE_CITY=Marburg
WAREHOUSE_COUNTRY=DE

MYSQL_DATABASE=shipping
MYSQL_USER=shipping
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me_root
